parameters:
    tmpDir: .phpstan.result.cache
    level: 9
    paths:
        - src
        - tests
    phpVersion: 80100 # Lowest currently supported version
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        implicitThrows: false
        uncheckedExceptionClasses:
            - 'PHPUnit\Framework\Exception'
            - 'PHPUnit\Event\Exception'
            - 'PHPUnit\Framework\MockObject\Exception'
            - 'ReflectionException'
            - 'SebastianBergmann\RecursionContext\InvalidArgumentException'
            - 'PrinsFrank\Container\Exception\ShouldNotHappenException'
    treatPhpDocTypesAsCertain: false
    checkBenevolentUnionTypes: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportWrongPhpDocTypeInVarTag: true
    reportAnyTypeWideningInVarTag: true
    checkMissingOverrideMethodAttribute: true
    ignoreErrors:
        - "#^Parameter \\#1 \\$id \\(class\\-string\\<T of object\\>\\) of method PrinsFrank\\\\Container\\\\Container\\:\\:get\\(\\) should be contravariant with parameter \\$id \\(string\\) of method Psr\\\\Container\\\\ContainerInterface\\:\\:get\\(\\)$#"
        - "#^Parameter \\#1 \\$id \\(class\\-string\\<object\\>\\) of method PrinsFrank\\\\Container\\\\Container\\:\\:has\\(\\) should be contravariant with parameter \\$id \\(string\\) of method Psr\\\\Container\\\\ContainerInterface\\:\\:has\\(\\)$#"
includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon
